.game-div{
    width: 100%;
    min-height: 80vh;
    margin: auto;
    background-image: url("../assets/graphics/graphics/background3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 3em;
    padding: 2em;
}
.your-cards{
    margin: auto;
    width: fit-content;
    gap: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.tongit-button{
    background-color: rgb(0, 19, 140);
    margin: auto;
}

.cards-set-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
}

.your-cards-subsets, .your-cards-subsets2{
    cursor: pointer;
    transition: 200ms;
    display: flex;
    width: fit-content;
    padding-left: 3em;
}

.your-cards-subsets:hover {
    transform: translateY(-10px);
}

.card-image-div{
    cursor: pointer;
    position: relative;
    transition: 200ms;
}

.your-moves{
    width: fit-content;
    margin: auto;
    margin-bottom: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
}

.card-image{
    width: 4.5em;
    aspect-ratio: 2 / 3;
}

.other-player-cards{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 6em;
    width: 100%;
    gap: 2em;
}

.player-div {
    border: 2px solid white;
    padding: 1em;
    border-radius: 10px;
}

.center-stack{
    width: 80%;
    margin: auto;
    margin-bottom: 6em;
    /* background-color: rgb(44, 44, 224); */
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}